{% extends '::base.html.twig' %}
{% block content %}

    {% include 'OnscreenAdminBundle:Default:nav.html.twig' with {'active' : 1 } %}

    <h2>Dashboard</h2>

    <div class="row-fluid">
    </div>

{% endblock %}
