{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2><i class="icon-cogs"></i> nothing here, move along</h2>
    </div>
</div>
{% endblock %}
